.customers {
  display: flex;
  flex-direction: column;
}

.customers__row {
  display: flex;
}

.customers__item {
  display: flex;
  width: 107px;
  height: 94px;
  flex: 1;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
  border-right: 1px solid rgba(227, 227, 227, 1);
}

.customers__item:last-child {
  border-right: none;
}

.customers__logo {
  margin: auto;
  max-width: 80%;
  filter: brightness(0);
}

@media screen and (min-width: 400px) {
  .customers {
    width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 106px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .customers__row {
    flex: 1;
    justify-content: flex-start;
  }

  .customers__logo {
    max-width: 150%;
  }

  .customers__item {
    border: none;
    margin-right: 100px;
  }

  .customers__item:last-child {
    margin-right: 70px;
  }
}
