.footer {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  align-items: center;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-company {
  width: 100%;
  padding-top: 43px;
  padding-bottom: 40px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0;
  align-items: flex-start;
}

.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  margin: 0;
  opacity: 0.1;
}

.footer__description {
  display: none;
  font-size: 18px;
  line-height: 26px;
  color: rgba(43, 41, 45, 0.6);
  width: 360px;
  margin-top: 26px;
}

.downloads {
  display: flex;
  justify-content: center;
  margin: 25px 15px 0 15px;
}

.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 0;
}

.additional-navigation__column:last-child {
  margin-top: 30px;
}

.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: rgba(43, 41, 45, 1);
  margin: 0;
}

.nav-links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 18px;
}

.nav-links__list-item {
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
}

.nav-links {
  width: 265px;
}

.terms {
  margin-left: 15px;
  display: flex;
  margin-top: 30px;
}

.terms__item:last-child {
  margin-right: 0;
}

.terms__item {
  text-decoration: none;
  margin-right: 19px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}

.social-links {
  margin-top: 30px;
  margin-bottom: 22px;
  margin-left: 15px;
}

.social-links__item {
  margin-right: 20px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-vertical__text {
  margin-top: 20px;
  width: 290px;
}

.logo-vertical__icon {
  width: 60px;
  height: 60px;
}

.logo-vertical__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #2b292d;
}

.logo-vertical__info {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
}

@media screen and (min-width: 400px) {
  .logo-vertical {
    display: none;
  }

  .social-links {
    margin: 0;
  }

  .social-links__item:last-child {
    margin-right: 0;
  }

  .terms {
    margin: 0;
    display: flex;
    height: 22px;
    line-height: 50px;
  }

  .downloads {
    margin: 0;
    margin-top: 25px;
    display: block;
  }

  .additional-navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 60px;
    margin-left: auto;
  }

  .footer-links {
    width: 1140px;
    height: 50px;
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer__description {
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    width: 360px;
    margin-top: 26px;
  }

  .footer-navigation {
    display: flex;
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    min-height: 338px;
  }

  .additional-navigation__column:first-child {
    margin-right: 29px;
  }

  .about-company {
    padding-top: 43px;
    margin-right: 126px;
    padding: 0;
    border: none;
  }

  .additional-navigation__column:last-child {
    margin-top: 0;
  }

  .social-links {
    margin-left: auto;
  }
}

@media screen and (max-width: 399px) {
  .footer .logo {
    display: none;
  }
}
