@import "header.scss", "headline.scss", "common.scss", "footer.scss",
  "features.scss", "customers.scss", "about.scss", "tips.scss",
  "breakpoints.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
